.food-display{
    padding: 80px 0;
    background: #F3FFE5;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.food-display .food-display-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.food-display .food-display-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.food-display h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: #161A16;
    text-align: center;
    margin-bottom: 2rem;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    gap: 30px;
    row-gap: 40px;
}