.verify{
    min-height: 100vh;
    display: grid;
    background: #F3FFE5;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 80px 0;
}

.verify .verify-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    min-height: 60vh;
}
.verify .spinner{
    width: 100px;
    height: 100px;
    place-self: center;
    border: 5px solid #bdbdbd;
    border-top-color: #4E8C01;
    border-radius: 50%;
    animation: rotate 1s infinite;
}
@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}